In [226]:
import json

data = [
    {"name": "john doe", "email": "JOHN@example.com", "phone_number": "123-456-7890", "address": "123, Main St, New York, NY 10001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456, Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123, Main St, New York, NY 10001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123, Main St, New York, NY 10001"},
    {"name": "Amit Sharma","email": "amit.sharma@example.com","phone_number": "9876543210","address": "415, MG Road, Bangalore, KA 560001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456, Elm St, Los Angeles, CA 90001"},
    {"name": "Ravi Kumar","email": "RAVI.kumar@example.com","phone_number": "9123456789","address": "202, Trident Tower, Mumbai, MH 400018"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456, Elm St, Los Angeles, CA 90001"},
    # Add more records as needed with duplicates and formatting issues
]

with open('data.json', 'w') as json_file:
    json.dump(data, json_file)
data

[{'name': 'john doe',
  'email': 'JOHN@example.com',
  'phone_number': '123-456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '9876543210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Ravi Kumar',
  'email': 'RAVI.kumar@example.com',
  'phone_number': '9123456789',
  'address': '202, Trident Tower, Mumbai, MH 400018'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'}]

In [228]:
with open("data.json", "r") as file:
    data = json.load(file)

data

[{'name': 'john doe',
  'email': 'JOHN@example.com',
  'phone_number': '123-456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '9876543210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Ravi Kumar',
  'email': 'RAVI.kumar@example.com',
  'phone_number': '9123456789',
  'address': '202, Trident Tower, Mumbai, MH 400018'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'}]

In [230]:
for i in data:
    i["email"] = i["email"].lower()

data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '123-456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '9876543210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '9123456789',
  'address': '202, Trident Tower, Mumbai, MH 400018'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'}]

In [216]:
for i in data:
    i["name"] = i["name"].title()
data

[{'name': 'John Doe',
  'email': 'john@example.com',
  'phone_number': '123-456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'John Doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'John Doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '9876543210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '9123456789',
  'address': '202, Trident Tower, Mumbai, MH 400018'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456, Elm St, Los Angeles, CA 90001'}]

In [232]:
import re
def clean_phone_number(phone):
    d = re.sub(r'\D', '',phone)

    if(len(d) == 11):
        d = d[1:]
    if(len(d)==12):
        d = d[2:]

    if(len(d)==10):
        return f"({d[:3]}) {d[3:6]}-{d[6:]}"
    else:
        return "Invalid String"
    
for i in data:
    i['phone_number'] = clean_phone_number(i['phone_number'])
data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '(987) 654-3210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '(912) 345-6789',
  'address': '202, Trident Tower, Mumbai, MH 400018'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456, Elm St, Los Angeles, CA 90001'}]

In [234]:
data = list({frozenset(i.items()):i for i in data}.values())
data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123, Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456, Elm St, Los Angeles, CA 90001'},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '(987) 654-3210',
  'address': '415, MG Road, Bangalore, KA 560001'},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '(912) 345-6789',
  'address': '202, Trident Tower, Mumbai, MH 400018'}]

In [236]:
import re

def split_add(address):
    match = re.match(r"^(.*),\s*(.*),\s*([A-Z]{2})\s*(\d{5})$", address)
    if match:
        street, city, state, zip_code = match.groups()
        return {
            "street": street.strip(),
            "city": city.strip(),
            "state": state.strip(),
            "zip_code": zip_code.strip(),
        }
    else:
        return {"street": "", "city": "", "state": "", "zip_code": ""}

for i in data:
    i['address'] = split_add(i['address'])

data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': {'street': '123, Main St',
   'city': 'New York',
   'state': 'NY',
   'zip_code': '10001'}},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': {'street': '456, Elm St',
   'city': 'Los Angeles',
   'state': 'CA',
   'zip_code': '90001'}},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '(987) 654-3210',
  'address': {'street': '', 'city': '', 'state': '', 'zip_code': ''}},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '(912) 345-6789',
  'address': {'street': '', 'city': '', 'state': '', 'zip_code': ''}}]

In [224]:
import json
with open("data.json", "w") as file:
    json.dump(data, file)

In [238]:
data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': {'street': '123, Main St',
   'city': 'New York',
   'state': 'NY',
   'zip_code': '10001'}},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': {'street': '456, Elm St',
   'city': 'Los Angeles',
   'state': 'CA',
   'zip_code': '90001'}},
 {'name': 'Amit Sharma',
  'email': 'amit.sharma@example.com',
  'phone_number': '(987) 654-3210',
  'address': {'street': '', 'city': '', 'state': '', 'zip_code': ''}},
 {'name': 'Ravi Kumar',
  'email': 'ravi.kumar@example.com',
  'phone_number': '(912) 345-6789',
  'address': {'street': '', 'city': '', 'state': '', 'zip_code': ''}}]